  <%= javascript_tag type: 'application/javascript' do  %>
    $(document).ready(function(){
      const issue_mapping = <%= issue_mapping.to_json.html_safe %>;
  
      Object.keys(issue_mapping).forEach((issue_id) => {
          issue = $('tr#issue-' + issue_id);
          Object.keys(issue_mapping[issue_id]).forEach((cf_id) => {
            field = issue.children('td.cf_' + cf_id);
            value = field.text();
            color = issue_mapping[issue_id][cf_id];
            if (color) {
              field.empty().html(
                `<table class='enumeration-badge'>
                  <tbody>
                    <tr>
                      <td style="background-color: `+ color + `;" title="` + value + ` "></td>
                    </tr>
                  </tbody>
                </table>`
              )
            }
          });
      });
    });
  <% end %>